body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "nav word-card";
    background-color: rgb(168, 195, 208);
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
}

header {
    color: black;
    grid-area: header;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    border: 2px solid white;
    height: 50px;
    background-color: white;

}

.word-card {
    grid-area: word-card;
    border: 2px solid white;
    font-family: 'Special Elite', cursive;
    margin-right: 15%;
    text-align: center;
    width: 300px;
    height: 500px;
    overflow: scroll;

}

.nav {
    grid-area: nav;
    font-family: 'Special Elite', cursive;
    border: 2px solid white;
    margin-left: 5%;
    margin-right: 20%;
    height: 500px;
    overflow: scroll;
}

#words-head {
    text-align: center;
}